<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" forwardWindowsAuthToken="false" stdoutLogEnabled="false" />
  </system.webServer>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add connectionString="Server=localhost;Database=GLWA-RS-API;Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>